.hourly {
  display: flex;
  flex-direction: row;
}

.hour {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 7%,
    rgba(239, 239, 239, 0.1) 43%,
    rgba(255, 255, 255, 0.1) 52%,
    rgba(230, 230, 230, 0.1) 58%,
    rgba(0, 0, 0, 0) 100%
  );
  margin-right: 0.2rem;
}

.hourly-temp {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.hourly-temp span {
  font-weight: 700;
  font-size: 1.2rem;
}

.hourly-desc {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.8rem;
  flex: 2;
}

.hourly-wspeed {
  font-size: 0.8rem;
  text-align: center;
}

.hourly-time {
  font-size: 0.8rem;
  text-align: center;
  opacity: 0.5;
  margin-top: 1rem;
}

.w-icon {
  font-size: 2rem;
  align-self: center;
  padding-top: 1rem;
}

@media only screen and (max-width: 795px) {
  .hour {
    background: none;
  }
}
