.time {
  font-size: 10vw;
  text-align: center;
  padding-top: 2rem;
  max-width: 100vw;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  caret-color: transparent;
}
