.time {
  font-size: 10rem;
  padding-top: 2rem 0 0 0;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  caret-color: transparent;
}

@media (max-width: 810px) {
  .time {
    font-size: 10rem;
  }
}

@media (max-width: 500px) {
  .time {
    font-size: 6rem;
  }
}
