.App {
  color: white;
}

.bg {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  background-image: url("./weather-images/antoine-barres-o4u8pFwSiQE-unsplash.jpg");
}

.time-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.location {
  margin: 0;
  font-size: 1.5rem;
  width: 100%;
  font-weight: 100;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 3rem;
}

span {
  /* padding: 3px; */
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  caret-color: transparent;
}

.pg-bottom {
  min-height: 15rem;
  margin: 1rem;
  column-gap: 1rem;
  display: grid;
  justify-content: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

@media (max-width: 500px) {
  .location {
    font-size: 1.2rem;
  }

  span {
    padding-left: 5px;
  }
}

@media (max-width:420px) {
  .pg-bottom {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}